* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: rgba(248, 245, 241, 0.692);
    font-family: 'Lato', sans-serif;
    align-items: center; 
    text-align: center;  
}

h1 {
    text-align: center;
    padding: 20px;
    margin:10px;
}

p {
    max-width: 800px;
    padding: 15px;
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color:white;
}

.nav-links { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}

nav.navbar {
    position: absolute;
    width: 100%;
    top: 0; 
}

.nav-links ul {
    margin:0;
    padding:0;
    display:flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
}

li.active {
    text-decoration: underline;
}

.toggle-button .line {
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;
}

.cards img{
    height:250px;
    width: auto;
}

.card {
    flex:  360px;
    margin: 10px;
    padding: 15px;
    border: 8px solid; 
    box-shadow: 2px 2px 6px 0px;
    text-align: center;   
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card img {
    max-width: 100%;
}

.about img {
    width:50%;
}

h3 {
    padding:20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 20px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: auto;
    width: 100%; 
}

h2 {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    padding:20px;
    font-size: xx-large;
}

.center {
    margin: auto;
    width: 60%;
    padding: 20px;
    text-align: center;
}

.space {
    padding: 1.5rem;
}

@media screen and (max-width:766px){
    .center {
        width: 90%;
        padding: 20px;
        text-align: center;
    }
   .toggle-button {
       display: flex;
   }
   .nav-links {
       width: 100%;
       display: none;
   }
   .navbar {
       flex-direction: column;
       align-items: flex-start; 
   }
    .nav-links ul {
        width: 100%;
        flex-direction: column;   
    }
   
    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .3rem 1rem
    }
    .nav-links.active {
        display: flex;  
    }
}

@media screen and (max-width: 600px) {
    .column{
      width: 33%;
    }  
}