* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url("pictures/burgerbackground.jpg");
    background-position: center;
    background-attachment: fixed;       
    background-size: cover;
    font-family: 'Lobster', cursive;  
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: xx-large;
}   

.nav-links ul {
    margin:0;
    padding:0;
    display:flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height: 21px;
}

li.active {
    text-decoration: underline;
}

.toggle-button .line {
    height: 3px;
    width:100%;
    background-color: white;
    border-radius: 10px;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #FFFFFF;
    padding: 22px;
    font-size:xx-large;
}

h3 {
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.container {
    padding-bottom: 20px;
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

 button {
    background-color:#202020;
    font-family: 'Lobster', cursive;
    font-size: 2vw;
    cursor: pointer;
    margin:   20px;
    padding: 15px 30px;
    border: 2px solid #ffdf6c;
    color: #FFFFFF;
 }

.center {
    align-items: center;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:550px){
    
    .navbar {
        background-color: #000000;
    }
    nav.navbar {
        position: absolute;
        width: 100%;
        top: 0; 
    }
 
   .toggle-button {
       display: flex;
   }

   .nav-links {
       width: 100%;
       display: none;
       font-size: small;
   }
   .navbar {
       flex-direction: column;
       align-items: flex-start;
   }
    .nav-links ul {
        width: 100%;
        flex-direction: column;    
    }
   
    .nav-links li {
        text-align: center;
    }

    .nav-links li a {
        padding: .3rem 1rem
}
    .nav-links.active {
        display: flex;  
    }
}